body {
  font-family: "Poppins", sans-serif;

  margin: 0px !important; 
  padding: 0px;
  background-color: white ;
  /* #311432; */
}
.containerx {
  width: 100%;
  background-color: black;
   text-align: center;
   max-width: 1600px;
   margin: 0 auto;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   position: relative; /* Add position relative to create a stacking context */
   z-index: 1; /* Set a positive z-index to place it above the black background */
    overflow: hidden; 
   /* background-color: #311432; */
   background-color: white ;
   }
   .row5{
    width: 100%;
   }